/* Estilos para a barra de rolagem vertical */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Largura da barra de rolagem vertical */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px; /* Arredondamento do polegar */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0D1B2A; /* Cor do polegar da barra de rolagem */
}

/* Estilos para a barra de rolagem horizontal */
::-webkit-scrollbar-horizontal {
    height: 12px; /* Altura da barra de rolagem horizontal */
    background-color: #F5F5F5; /* Cor de fundo da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
    height: 12px; /* Largura da barra de rolagem vertical */
    width  : 10px; /* ajuste a altura conforme necessário */
    border-radius: 15px; /* Arredondamento do polegar horizontal */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ffffff; /* Cor do polegar da barra de rolagem horizontal */
}

/* Para Firefox */
.scroll {
     width  : 100px; /* ajuste a altura conforme necessário */
    scrollbar-width: thin; /* Largura da barra de rolagem (thin, auto, none) */
    scrollbar-color: #0D1B2A #F5F5F5; /* Cor do polegar e do fundo (thumb track) */
}
.no-scroll {
    max-height: 300px; /* ajuste a altura conforme necessário */
    overflow: hidden; /* desativa o scroll */
}

 .container-erro {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.h1-erro {
    color: #333;
}
.p-erro {
    color: #666;
}
.error-list {
    text-align: left;
    margin-top: 20px;
}
.error-list li {
    margin-bottom: 10px;
}
.error-message {
    color: #ff6347;
    font-weight: bold;
} 
    
/* Aplicação da fonte Montserrat apenas para elementos com a classe .font-montserrat */
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

/* Exemplo de estilo adicional para elementos específicos */
.font-montserrat h1, .font-montserrat h2, .font-montserrat h3, 
.font-montserrat h4, .font-montserrat h5, .font-montserrat h6 {
    font-weight: 700; /* Negrito para cabeçalhos */
}

.font-montserrat p {
    margin-bottom: 1.5em;
}

.font-montserrat a {
    text-decoration: none;
}

.font-montserrat a:hover {
    text-decoration: underline;
}
 

.wrapper    {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
  }



  .custom-shape-divider-top-1708368195 {
    
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1708368195 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1708368195 .shape-fill {
    fill: #0D1B2A;
}

.custom-shape-divider-bottom-1708368458 {
   
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1708368458 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 102px;
}

.custom-shape-divider-bottom-1708368458 .shape-fill {
    fill: #0D1B2A;
}   


.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-box {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
    z-index: 100;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    font-size: 0.8rem;
    white-space: nowrap;
    pointer-events: none;
  }
  
  .tooltip-container:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip-box.top {
    bottom: 100%;
    transform: translateX(-50%);
  }
  
  .tooltip-box.right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  
  .tooltip-box.left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
  }
  
  .tooltip-box.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Ajuste para btn-group */
  .btn-group .tooltip-container {
    display: inline-block;
    margin: 0;
    position: relative;
  }
  
  .btn-group .tooltip-box {
    white-space: nowrap;
    min-width: 50px; /* ajustável conforme necessário */
  }
  